@import "_variables";

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
}

.navbar {
  padding: 1rem;
}

.navbar__links {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
  justify-content: center;
  .navbar__item {
    position: relative;
    &:hover .navbar__links--dropdown {
      display: block;
    }
  }
  .navbar__link {
    text-decoration: none;
    color: $text;
    &:hover {
      color: $primary;
    }
  }
  .navbar__links--dropdown {
    position: absolute;
    right: 0;
    width: 400px;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 1rem;
    display: none;
  }
}

.main {
  max-width: 1400px;
  margin: 0 auto;
}
